h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
P::first-line{
    background-color: rgb(249, 249, 126);
}
P::selection{
    color: green;
    background-color: darkgray;
}


#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content: "🍌";
}

#fruit li::marker{
    content: "✅";
    color: greenyellow;
    font-size: 1.2em;
}