@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: Roboto_Regular;
}

@font-face {
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    font-family: OpenSans;
}
h1{
    font-family: Roboto Regular, verdana, arial;
}

p{
    font-family: OpenSans,"lucida console", "courir new";
    font-size: 1em;
    font-weight:  bold;
    font-style: italic;
}