*{
    box-sizing: border-box;
}
body{
    margin: 0;;
}
header{
    background-color: rgb(165, 160, 160);
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: rgb(36, 29, 29);
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10ox;
}

section{
    width: 40%;
    float: left;
    padding: 10ox;
}

article{
    width: 40%;
    float: left;
    padding: 10ox;
}

footer{
    display: block;
    clear: both;
    background-color: rgb(165, 160, 160);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
}